  <%#たびぺでぃあのフォーム%>



<%= form_with model: @trip,local: true do |f| %>
<%= f.text_area :trip_title, class:"trip-text", id:"trip-name", placeholder:"旅行名" %>
<%= f.text_area :place, class:"place-text", id:"place-name", placeholder:"行き先" %>
<%= f.date_field :start_date,  class:"start_date" %>
<%= f.date_field :end_date,  class:"end_date" %>
<div class='form-group'>
        <select class="friends" name="trip[user_ids][]" multiple >
          <option value="">招待する友達を選択（Ctrl / Command または Shift + クリック）</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<% user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
       <input name="trip[user_ids][]" type="hidden" value="<%= current_user.id %>">
      </div>
<%= f.submit "登録", class: 'trip-btn'%>
<% end %>