<div class='main'>

  <%= render "shared/header" %>

  <%# 画面上部の「人生を変える旅行アプリ」帯部分 %>
  <div class='title-images'>
    <div class='title-contents'>
      <h2 class='service-title'>
        あなたに合った旅が見つかる
      </h2>
      <p class='service-explain'>
        たびぺディアはだれでもかんたんに検索・投稿できる
      </p>
      <p class='service-explain'>
        旅行情報共有アプリです
      </p>
      <div class='store-btn'>
        <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
        <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
      </div>
      <div class='scroll-btn'>
        <div class='scroll-text'>scroll</div>
        <%= image_tag "scroll.png", class:"scroll-icon" %>
      </div>
    </div>
  </div>
  <%# /画面上部の「人生を変える旅行アプリ」帯部分  %>


  <%# 投稿一覧 %>
  <div class='trip-contents'>
    <h2 class='title'>PICK UP</h2>
    <div class='under_line2'></div>
    <div class="subtitle" >
      旅のプランを探そう
    </div>
    <ul class='trip-lists'>

      <% if @trips.length != 0 %>
        <% @trips.each do |trip| %>
        <li class='list'>
          <%= link_to trip_path(trip.id) do %>
          <div class='trip-img'>
            <% if trip.images.attached? %>
              <%= image_tag trip.images[0], class: "trip-img" %>
            <% else %>  
              <%= image_tag "none-image.png", class: "trip-img" %>
            <% end %>
            <% if user_signed_in? %>
            <div class="trip-img-user" >
              <%= link_to "/users/#{trip.id}" do %>
                <% if current_user.image.present? %>
                  <%= image_tag current_user.image, class: "user-img" %>
                <% else %>
                  <%= image_tag "human.png", class: "user-img" %>
                <% end %>
              <% end %>
              <%= link_to "#{current_user.nickname}", "/users/#{current_user.id}", class: "user-nickname2" %>
            </div>
            <% end %>
          </div>
          <div class='trip-info'>
            <h3 class='trip-name'>
              <%= "#{trip.trip_title}" %>
            </h3>
            <div class='trip-detail'>
              <span><%= image_tag "spot.png", class:"spot-icon" %><%= "#{trip.place}" %>
              <br><%= image_tag "date.png", class:"spot-icon" %><%= "#{trip.start_date}" %>〜</span>
              <div class='good-btn'>
                <%= image_tag "good.png", class:"good-icon" %>
                <span class='good-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>

      <% else %>
        <li class='list'>
          <div class='trip-img'>
            <%= link_to '#' do %>
            <%= image_tag "sakura.jpg", class: "trip-img" %>
            <div class="trip-img-user" >
              <%= image_tag "human.png", class: "user-img" %>
              <%= link_to "投稿者さん", '#', class: "user-nickname2" %>
            </div>
          </div>
          <div class='trip-info'>
            <h3 class='trip-name'>
              おすすめの旅を投稿してね！
            </h3>
            <div class='trip-detail'>
              <span><%= image_tag "spot.png", class:"spot-icon" %>東京
              <br><%= image_tag "date.png", class:"spot-icon" %>2024年2月〜</span>
              <div class='good-btn'>
                <%= image_tag "good.png", class:"good-icon" %>
                <span class='good-count'>10</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
  <%# /投稿一覧 %>



  <div class='trip-contents'>
    <h2 class='title'>MAP</h2>
    <div class='under_line2'></div>
    <div class="subtitle" >
      地図からプランを探そう
    </div>

  <%= link_to new_trip_path, data: { turbo: false }, class: 'trip-btn', style:'z-index:10000' do %>
    <span class='trip-btn-text'>あなたの<br>旅を投稿</span>
    <%= image_tag 'suitcase.png' , size: '185x50' ,class: "trip-btn-icon" %>
  <% end %>

</div>

 <%= render partial: 'shared/google_map' %>

<%= render "shared/footer" %>