<div class='background'>
  <%#たびぺでぃあ（トリップ）のフォーム%>
  <%= render "shared/second-header"%>

  <%= form_with model: @trip, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        旅の情報を入力
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "camera.png", class: 'icon2' %>
        <label class="form-text"></label>
      </div>
      <%= f.file_field :images, name: 'trip[images][]', data: {index: 0} %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "pencil.png", class: 'icon2' %>
        <label class="form-text">タイトル</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :trip_title, class:"trip-text", id:"trip-name", placeholder:"旅行名" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "airplane.png", class: 'icon2' %>
        <label class="form-text">行き先</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :place, class:"place-text", id:"place-name", placeholder:"行き先" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "date.png", class: 'icon2' %>
        <label class="form-text">開始日</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.date_field :start_date,  class:"start_date" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "date.png", class: 'icon2' %>
        <label class="form-text">終了日</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.date_field :end_date,  class:"end_date" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
      <%= image_tag "spot.png", class: 'icon2' %>
      <label class="form-text">住所</label>
      <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :address, class:"address-text", id:"address", placeholder:"住所" %>
    </div>

    <div class='form-group'>
      <%= f.submit "登録", class: 'register-blue-btn'%>
    </div>
  </div>
  <% end %>

  <%= render "shared/second-footer"%>
</div>
