<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>たびぺディアについて</h2>
      <ul>
        <li><%= link_to 'わたしたちについて', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'たびぺディア利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ガイドライン</h2>
      <ul>
        <li><%= link_to 'たびぺディアガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'たびぺディアロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>  
  <%= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <p>© たびぺディア</p>
</div>