<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDYCBhjyECXleS0TwFxXXaHbWBrR1keUk0&callback=initMap" %>


<% @trips.each do |trip| %>
  <div class="map">
    <div id="map_<%= trip.id %>" data-latitude="<%= trip.latitude %>" data-longitude="<%= trip.longitude %>">
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function initMap() {
    <% @trips.each do |trip| %>
      var lat_<%= trip.id %> = parseFloat(document.getElementById('map_<%= trip.id %>').dataset.latitude);
      var lng_<%= trip.id %> = parseFloat(document.getElementById('map_<%= trip.id %>').dataset.longitude);

      var map_<%= trip.id %> = new google.maps.Map(document.getElementById('map_<%= trip.id %>'), {
        center: { lat: lat_<%= trip.id %>, lng: lng_<%= trip.id %> },
        zoom: 15
      });

      var marker_<%= trip.id %> = new google.maps.Marker({
        position: { lat: lat_<%= trip.id %>, lng: lng_<%= trip.id %> },
        map: map_<%= trip.id %>
      });
    <% end %>
  }
</script>