<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header', style='z-index:10000' >
  <div class='search-bar-contents'>
    <%= link_to image_tag("tabipedia-logo2.png", class:"tabipedia-icon"), "/" %>
    
    <%= form_with(url: search_trips_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードから検索する", class: "input-box" %>
      <button class="search-button">
      <% form.submit %>
      <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>

    <div class='nav'>
      <ul class='lists'>
        <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
        <li><%= link_to 'エリア', "#", class: "category-list" %></li>
        <% if user_signed_in? %>
          <li>
          <%= link_to "/users/#{current_user.id}" do %>
            <% if current_user.image.present? %>
              <%= image_tag current_user.image, class: "user-img-header" %>
            <% else %>
              <%= image_tag "human.png", class: "user-img-header" %>
            <% end %>
          <% end %>
          </li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
</header>