<div class='background2'>
  <%#たびぺでぃあ（プラン）のフォーム%>
  <%= render "shared/second-header"%>

  <%= form_with model: [@trip,@plan], class: 'registration-main', data: {turbo_method: :patch}, local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        1日のプランを編集
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "camera.png", class: 'icon2' %>
        <label class="form-text"></label>
      </div>
      <%= f.file_field :images, name: 'plan[images][]', data: {index: 0} %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "days.png", class: 'icon2' %>
        <label class="form-text">何日目？</label>
        <span class="indispensable">必須</span>
      </div>
    <%= f.collection_select(:days_id, Days.all, :id, :name, {}, {class:"select-box", id:"days"}) %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "pencil.png", class: 'icon2' %>
        <label class="form-text">プラン名</label>
        <span class="indispensable">必須</span>
      </div>
    <%= f.text_area :plan_title, class:"plan-text", id:"plan-name", placeholder:"プラン名" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <%= image_tag "airplane.png", class: 'icon2' %>
        <label class="form-text">すること</label>
        <span class="indispensable">必須</span>
      </div>
    <%= f.text_area :content, class:"content-text", id:"content-name", placeholder:"すること" %>
    </div>

    <div class='form-group'>
      <%= f.submit "更新", class: 'register-blue-btn'%>
    </div>
  </div>
  <% end %>

  <%= render "shared/second-footer"%>
</div>