<script src="/assets/rails-ujs.js"></script>

<div class='main'>

  <%= render "shared/header" %>

  <div class='user_main'>

    <%# プラン詳細情報 %>
    <div class='user-contents'>
      <h2 class='user-contents-title'><%= @plan.days.name %></h2>
      <div class='under_line2'></div>
      <div class="plan-contents-subtitle"><%= @plan.plan_title %></div>
    </div>

    <div class="trip-main-img">
      <% if @plan.images.attached? %>
        <%= image_tag @plan.images[0], class: "trip-main-img" %>
      <% else %>  
        <%= image_tag "none-image.png", class: "trip-img" %>
      <% end %>
    </div>

    <div class='trip-detail_field'>

      <div class='trip-detail_field_left'>
        <div class='user_profile_field'>
          <%= link_to "/users/#{@trip.user.id}" do %>
            <% if @trip.user.image.present? %>
              <%= image_tag @trip.user.image, class: "user-img" %>
            <% else %>
              <%= image_tag "human.png", class: "user-img" %>
            <% end %>
          <% end %>
          <%= link_to "#{@trip.user.nickname}", "/users/#{@trip.user.id}", class: "user-nickname" %>
        </div>

        <div class='under_line4'></div>
        <div class='user_profile_field', style="white-space: pre-wrap;"><%= "#{@plan.content}" %></div>

        <div class='user_profile_field'>
          <%= link_to "BACK", trip_path(@trip.id), data: { turbo: false }, class: "nav__btn" %>
        </div>
      </div>

      <div class='trip-detail_field_right'>
        <div class='user_profile_field'>
          <%= image_tag "pencil.png", class: 'icon' %>
          <%= link_to "プラン情報編集", edit_trip_plan_path(@trip.id), data: { turbo: false }, class: "nav__btn" %>
        </div>

        <div class='user_profile_field'>
          <%= image_tag "gomi.png", class: 'icon' %>
          <%= link_to "プラン情報削除", trip_plan_path(@trip.id), method: :delete, data: {confirm: "削除しますか？"}, class: "nav__btn" %>
        </div>
      </div>
    </div>
    <%# /プラン詳細情報 %>


    <%# コメント投稿 %>
    <div class = "container">
      <div class = "comment_input_box">
      <% if user_signed_in? %>
        <%= form_with(model: [@plan, @plan_comment], url: trip_plans_path, local: true) do |form| %>
        <%= form.text_area :text, class: 'comment_input', placeholder: "コメントする" %>
        <%= form.submit "SEND", class: "nav__btn2" %>
        <% end %>
      <% else %>
        <p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></div>
      <% end %>
      </div>
      <div class="comments">
        <% @plan_comments.each do |plan_comment| %>
        <p>
          <%= link_to "/users/#{plan_comment.user.id}" do %>
            <% if plan_comment.user.image.present? %>
              <%= image_tag plan_comment.user.image, class: "user-img" %>
            <% else %>
              <%= image_tag "human.png", class: "user-img" %>
            <% end %>
          <% end %>
          <%= link_to "#{plan_comment.user.nickname}", "/users/#{plan_comment.user.id}", class: "user-nickname" %>
          <%= plan_comment.text %>
        </p>
        <% end %>
      </div>
    </div>
    <%# /コメント投稿 %>

  </div>

</div>

<%= render "shared/footer" %>